.noteWrapper {
  display: flex;
  width: 100%;
  margin: auto auto auto 2%;
}

.front {
  box-shadow: 5px 2px 13px -5px #2e3a4e;
  display: flex;
  padding: 4px 0;
  width: 100%;
  z-index: 1;
}

.frontComplete {
  background-color: rgb(240, 240, 240);
  display: flex;
  padding: 4px 0;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.checkComplete {
  background: none;
  border: none;
  outline: none;
  margin: 2%;
  align-self: center;
}

.priority {
  background: none;
  border: none;
  outline: none;
}

.noPriority {
  composes: priority;
  opacity: 0.2;
}
