.handleNoteButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding-right: auto;
  margin: 3px 2%;
}

#remove,
#text {
  background: none;
  font-size: 1.2rem;
  margin: 2%;
  padding: 0 5px;
  opacity: 0.8;
}

@media (max-width: 440px) {
  .handleNoteButtons {
    justify-content: space-around;
  }
}
