/* // import normalize.css?
// Organize with one folder per component? */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  box-sizing: border-box;
  word-break: break-word;
}

body {
  background-color: lightblue;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  color: #1a283f;
}

.login-box {
  align-items: center;
  color: white;
  background-color: #1a283f;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.login-box-inner {
  text-align: center;
}

.login-box-inner h1 {
  margin-bottom: 16px;
  line-height: 1;
}

.login-box-inner p {
  word-spacing: 5px;
  margin-bottom: 4rem;
}

@media (min-width: 1400px) {
  .login-box {
    zoom: 120%;
  }
}

.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

@media (max-width: 480px) {
  .loader {
    width: 100%;
  }
}

.header {
  background-color: #1a283f;
  box-shadow: 2px 1px 4px #1a283f;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1% 6%;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {
  body {
    zoom: 75%;
  }

  .header span {
    display: none;
  }
}

@media (min-width: 960px) {
  .header {
    padding: 1% 5%;
  }
}

.header h1 {
  margin: 2%;
}

.header p {
  margin-top: 0;
  word-spacing: 5px;
}

.header-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 10px;
  zoom: 85%;
}

.header button {
  align-self: flex-end;
  min-width: 60px;
}

.credentials {
  display: flex;
  align-items: center;
  margin: 0 auto 15px 0;
}

.credentials span {
  margin-left: 10px;
}

.header img {
  background-color: white;
  border-radius: 50%;
  height: 30px;
  padding: 1px;
  width: 30px;
  margin-left: 15px;
}

#logo-header {
  color: white;
  font-size: 2.3rem;
  opacity: 1;
  margin-right: 10px;
}

.log:hover {
  opacity: 1;
}

.notes-app {
  font-size: 90%;
  margin: 4% 6%;
}

@media (min-width: 960px) {
  .notes-app {
    font-size: 100%;
    margin: 2% 20%;
  }
}

.add-note {
  display: flex;
  background-color: white;
  border: 1px solid grey;
  width: 100%;
  opacity: 0.6;
}

@media (min-width: 960px) {
  .add-note {
    flex-direction: row;
  }
}

.add-note input {
  border: none;
  font-size: 1.3rem;
  background-color: transparent;
  outline: none;
  padding: 2%;
  width: 100%;
}

@media (max-width: 960px) {
  .add-note input {
    font-size: 1.1rem;
  }
}

.button {
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
  transition-duration: 0.4s;
}

.button:hover {
  cursor: pointer;
}

#add-btn,
#edit-btn,
.text {
  border: none;
  outline: none;
  background: none;
  margin-right: 2%;
}

.far,
.fas {
  color: #1a283f;
  font-size: 1rem;
  align-self: center;
  opacity: 0.8;
}

@media (min-width: 960px) {
  .far,
  .fas {
    font-size: 1.3rem;
  }
}

.far:hover,
.filter-container:hover,
.fas:hover {
  opacity: 1;
}

.note-list {
  margin-top: 5%;
}

.note-container {
  background-color: white;
  position: relative;
  margin-bottom: 4px;
  height: 100%;
  width: 100%;
  transition: 0.2s;
}

.note-container-focus {
  background-color: white;
  position: relative;
  margin-bottom: 4px;
  height: 100%;
  padding: 5%;
  width: 100%;
  zoom: 120%;
  transition: 0.2s;
}

.focus-mode {
  border-radius: 50px;
}

.front {
  position: relative;
  box-shadow: 5px 2px 13px -5px #2e3a4e;
  display: flex;
  padding: 1%;
  width: 100%;
  z-index: 1;
}

.front-complete {
  background-color: rgb(240, 240, 240);
  display: flex;
  padding: 1%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.back {
  display: flex;
  padding: 1%;
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  min-height: 73px;
}

.back p {
  margin-left: 5%;
}

@media (max-width: 960px) {
  .note-container {
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

.note-wrapper {
  display: flex;
  width: 100%;
  margin: auto auto auto 2%;
}

.complete {
  color: rgb(145, 143, 143);
  text-decoration: line-through;
  text-decoration-color: #1a283f;
}

.not-complete {
  text-decoration: none;
}

.edit-note {
  display: flex;
  border-bottom: 2px solid #1a283f;
  opacity: 0.7;
}

#input-title {
  border: none;
  font-size: 1rem;
  padding: 2% 5%;
  outline: none;
}

#input-text {
  visibility: hidden;
}

.handle-note-btns {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding-right: auto;
  margin-right: 2%;
}

@media (max-width: 440px) {
  .handle-note-btns {
    justify-content: space-around;
  }
}

#check-complete {
  background: none;
  border: none;
  outline: none;
  margin: 2%;
  align-self: center;
}

.fa-check-square {
  opacity: 1;
}

.log {
  border: 1px solid lightblue;
  background: none;
  width: 100%;
  color: white;
  padding: 5px;
  opacity: 0.7;
}

.remove,
.text {
  background: none;
  font-size: 1.2rem;
  padding: 0 5px;
  opacity: 0.8;
}

.fa-trash-alt {
  color: rgb(219, 1, 1);
}

.has-text {
  color: rgb(0, 143, 0);
  box-shadow: 0 8px 10px 0 grey;
  opacity: 1;
}

.edit-note {
  width: 100%;
}

#edit-form {
  display: flex;
  justify-content: space-around;
  width: 95%;
}

.edit-btn {
  background: none;
}

.edit-note-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 0 0 10px;
}

@media (max-width: 440px) {
  .edit-note-text {
    flex-direction: column-reverse;
    margin-right: 1%;
  }
  .note-text-list {
    width: 100%;
  }
}

.edit-wrapper {
  width: 100%;
}

textarea {
  border: none;
  width: 100%;
  position: relative;
  background-color: rgb(250, 250, 170);
  line-height: 30px;
  padding: 10px;
  font-size: 1.1rem;
  box-shadow: 1px 1px 2px 1px lightgrey;
  resize: none;
  outline: none;
}

textarea:focus {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-container {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
}

.remove-all {
  border: 2px solid white;
  background-color: grey;
  margin-top: 1%;
  padding: 2px 20px;
}

.fa-minus-circle {
  color: red;
}

.move {
  background-color: rgb(255, 166, 0);
  border: 2px solid white;
  color: #ffffff;
  margin-top: 1%;
  padding: 2px 20px;
}

.move:hover,
.remove-all:hover,
.focus:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all-done-message,
.add-note-message {
  color: white;
  text-align: center;
}
