#editForm {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 1% 0;
  padding: 1% auto;
}

.editNote {
  width: 100%;
  display: flex;
  opacity: 0.7;
}

#editTitle {
  border: none;
  font-size: 1.17rem;
  padding: 2% 5%;
  outline: none;
  width: 100%;
}

@media (max-width: 480px) {
  #editTitle {
    font-size: 1rem;
  }
}

#editComplete {
  outline: none;
  background: none;
  border: none;
}
